.col-2 {
    width: 100%;
    background-color: lightblue;
    padding: 10px 10px 10px 10px;
}

.content {
    width: 100%;
    display: relative;
    background-color: lightcoral;
    padding: 10px 10px 10px 10px;
}

h4 {
    font-size: 1em;
}