<div class="container">
  <div class="row">
    <div class="col-2">
      <img alt="" class="img-thumbnail book-image" [src]="book?.image">
    </div>
  
    <div class="col-8 content">
      <div>
        <h2 class="book-title">{{book?.title}}</h2>
      </div>

      <div>
        <h4 class="book-description">{{book?.descripiton}}</h4>
      </div>

      <div>
        <h4 class="book-upvote">{{book?.upvotes}}</h4>
      </div>

      <div>
        <button class="upvote" (click)="upvote()">Upvote</button>
      </div>

      <div>
        <h4 class="book-price">{{book?.price | currency: 'USD': 'symbol'}}</h4>
      </div>

      <div>
        <button class="addToCart" (click)="sendToCart(book)">Add To Cart</button>
      </div>
    </div>
  </div>
</div>
