<div class="container">
  <div class="row" *ngFor="let book of books">
    <div class="col-3">
      <img [src]="book?.image" alt="" class="img-fluid">
    </div>
    <div class="col-5">
      {{book.title}}
    </div>
    <div class="col-3">
      <a [href] = "'/books/' + book?.title + '/edit'">Edit</a>
    </div>
  </div>
</div>