<div class="container">

  <div class="alert alert-primary col-10" role="alert" *ngIf="cart.length > 0">
    {{cart | json}}
  </div>
  

  <div class="row">
    <app-book [book]="book" (addToCart)="addToCart($event)"></app-book>
    <router-outlet></router-outlet>
  </div>

</div>

  
  