<div class="row">
  <div class="col-12">
    <h1>Edit a book {{book.title}}</h1>
  </div>
  <div class="row">
    <div class="col-4">
      <a routerLink='/books/{{book.title}}/edit' (click)='activeForm === "reactive"'>Reactive Form</a>
    </div>
  </div>
</div>

<form *ngIf='activeForm == "reactive"' 
  [formGroup]='bookEditForm' (ngSubmit)='submitReactiveForm' novalidate>

  <div class="row mt-3">
    <div class="col-6">
      Reactive Form
    </div>
  </div>

  <div class="row">
    <div class="col-12 form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control title" formControlName="title" name="title"
      [ngClass]="{ 'is-invalid' : bookEditForm.controls['title'].touched &&
        bookEditForm.controls['title'].invalid}">
      <div class="invalid-feedback">
        Please provide a valid title!
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 form-group">
      <label for="image">Image URL</label>
      <input type="text" class="form-control title" formControlName="image"
      [ngClass]='{ "is-invalid" : bookEditForm.controls["image"].touched && 
        bookEditForm.controls["image"].invalid}'>
      <div class="invalid-feedback">
        Please provide a valid Image URL!
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control description" formControlName="description">
    </div>
  </div>

  <div class="row">
    <div class="col-12 form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control price" formControlName="price"
      [ngClass]='{ "is-invalid" : bookEditForm.controls["price"].touched && 
        bookEditForm.controls["price"].error}'>
      <div class="invalid-feedback">
        Please provide a valid price!
      </div>
    </div>
  </div>

  <button class="btn btn-primary" id="reactiveSubmitButton" [disabled]="!bookEditForm.valid">
    Edit
  </button>
</form>